@model Eastcoast.Models.Products.ProductsPageViewModel

@section Meta{
    @Html.Partial("_MetaSection", Model)
}

@Html.Partial("_Banner", Model)

<div class="products-page">

    <h1 class="heading-text">@Model.Heading</h1>

    @foreach (var category in Model.Categories)
    {
        <div class="category">
            <a href=@category.LinkUrl>

                <img src="@category.CategoryImage.ImageUrl" alt="@category.CategoryImage.Title">

                <p class="category-title">
                    @category.Title
                </p>

            </a>
        </div>
    }

</div>